<div class="dashboard-container">
    <h1 class="text-center">Dashboard de Gerentes</h1>

    <!-- tabela resumo em cima do gráfico -->
    <table class="dashboard-table" style="margin-bottom: 30px">
        <thead>
            <tr>
                <th>Gerente</th>
                <th>Qtd. Clientes</th>
                <th>Soma Saldo (+)</th>
                <th>Soma Saldo (-)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of managers">
                <td>{{ m.nome }}</td>
                <td>{{ m.clientCount }}</td>
                <td>
                    {{
                        m.positiveTotal | currency : "BRL" : "symbol" : "1.2-2"
                    }}
                </td>
                <td>
                    {{
                        m.negativeTotal | currency : "BRL" : "symbol" : "1.2-2"
                    }}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- gráfico de barras -->
    <ngx-charts-bar-horizontal-2d
        *ngIf="chartData?.length"
        [results]="chartData"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showDataLabel]="true"
        [animations]="true"
        [view]="[900, 300]"
        [barPadding]="10"
        [groupPadding]="15"
        [roundEdges]="false"
        style="margin-bottom: 30px"
    >
    </ngx-charts-bar-horizontal-2d>
</div>
