<main>
    <section>
        <h1>Novos cadastros</h1>
        <table>
            <th>CPF</th>
            <th>Nome</th>
            <th>Salario</th>
            <th>Ação</th>
            <tr>
                <td>123.456.789-00</td>
                <td>guilherme</td>
                <td>R$ 99.999,00</td>
                <td>
                    <button>Aprovar</button>
                    <button>Rejeitar</button>
                </td>
            </tr>
            <tr>
                <td>123.456.789-00</td>
                <td>guilherme</td>
                <td>R$ 99.999,00</td>
                <td>
                    <button>Aprovar</button>
                    <button>Rejeitar</button>
                </td>
            </tr>
            <tr>
                <td>123.456.789-00</td>
                <td>guilherme</td>
                <td>R$ 99.999,00</td>
                <td>
                    <button>Aprovar</button>
                    <button>Rejeitar</button>
                </td>
            </tr>
        </table>
    </section>
</main>
