<main>
    <section class="main-content">
        <div class="balance-container">
            <h1>Saldo atual</h1>
            <h2 [ngStyle]="{ color: balance < 0 ? 'red' : '#097459' }">
                <span class="currency-symbol">R$</span>
                {{ balance | number : "1.2-2" }}
            </h2>
            <h3>
                Depositados este mês: {{ depositsThisMonth | currency : "BRL" }}
            </h3>
        </div>

        <ul>
            <li>
                <a routerLink="/cliente/deposito">
                    <img src="images/deposito.png" alt="Ícone de depósito" />
                    <p>Depositar</p>
                </a>
            </li>
            <li>
                <a routerLink="/cliente/saque">
                    <img src="images/saque.png" alt="Ícone de saque" />
                    <p>Sacar</p>
                </a>
            </li>
            <li>
                <a routerLink="/cliente/extrato">
                    <img
                        src="images/extrato-bancario.png"
                        alt="Ícone de extrato"
                    />
                    <p>Extrato</p>
                </a>
            </li>
            <li>
                <a routerLink="/cliente/detalhes">
                    <img src="images/conta-bancaria.png" alt="Ícone da conta" />
                    <p>Minha Conta</p>
                </a>
            </li>
        </ul>
    </section>
</main>
