<main class="dashboard-container">
    <!-- Loading State -->
    <div *ngIf="!user" class="loading-message">
        <div class="spinner"></div>
        <span>Carregando informações...</span>
    </div>

    <div *ngIf="user">
        <header class="dashboard-header">
            <h1>Olá, {{ user.nome }}!</h1>
            <p>Bem-vindo(a) de volta à sua conta.</p>
        </header>

        <section class="main-card">
            <div class="balance-info">
                <span class="balance-title"> Saldo disponível </span>

                <!-- Exibe o saldo diretamente (sem botão de ocultar) -->
                <h2 class="balance-value">
                    {{ balance | currency : "BRL" }}
                </h2>
            </div>

            <nav class="quick-actions">
                <a routerLink="/cliente/deposito" class="action-item">
                    <div class="icon-background">
                        <img
                            src="images/deposito.png"
                            alt="Ícone de depósito"
                        />
                    </div>
                    <span> Depositar </span>
                </a>

                <a routerLink="/cliente/saque" class="action-item">
                    <div class="icon-background">
                        <img src="images/saque.png" alt="Ícone de saque" />
                    </div>
                    <span> Sacar </span>
                </a>

                <a routerLink="/cliente/extrato" class="action-item">
                    <div class="icon-background">
                        <img
                            src="images/extrato-bancario.png"
                            alt="Ícone de extrato"
                        />
                    </div>
                    <span> Extrato </span>
                </a>

                <a routerLink="/cliente/detalhes" class="action-item">
                    <div class="icon-background">
                        <img
                            src="images/conta-bancaria.png"
                            alt="Ícone da conta"
                        />
                    </div>
                    <span> Minha Conta </span>
                </a>
            </nav>
        </section>
    </div>
</main>
