:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.home-header {
  background: #0ec093;
  padding: 0;
  box-shadow: 0 2px 24px rgba(0,0,0,0.09);
}
.header-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24px 36px 18px 36px;
}
.header-content-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 28px;
}
.logo-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}
.logo {
  width: 45px;
  height: 45px;
}
.brand-title {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}
.agency-account-row form {
  display: flex;
  align-items: center; 
  gap: 8px; 
}
.account-access {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  gap: 6px;
  margin-left: 60px;
}
.lock-icon {
  width: 22px;
  height: 22px;
}
.password-container {
  position: relative; 
  display: inline-block; 
  vertical-align: middle;
}

.password-input {
  padding-right: 40px !important; 
}
.toggle-password-icon {
  position: absolute; 
  top: 50%; 
  right: 15px; 
  transform: translateY(-50%); 
  cursor: pointer; 
  color: #555; 
}
.user-input, .password-input {
  border-radius: 20px;
  border: 1px solid #cccccc;
  padding: 9px 14px;
  font-size: 15px;
  background: #fff;
  outline: none;
  transition: border 0.2s;
  gap: 8px;
}
.user-input{
  gap: 8px;
  width: 180px;
}
.password-input {
  gap: 8px;
  width: 100px;
}
.ok-btn {
  background: rgba(255, 255, 255, 0.692);
  border: none;
  border-radius: 20px;
  width: 52px;
  height: 38px;
  font-size: 17px;
  color: #065743;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}
.ok-btn:hover {
  background: #ffffff;
}
.header-content-right {
  display: flex;
  align-items: flex-end;
}
.search-bar {
  display: flex;
  align-items: center;
  background: #ece6f0;
  border-radius: 20px;
  padding: 4px 14px;
  gap: 8px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.04);
  margin-right: 50px;
}
.search-bar input {
  border: none;
  background: transparent;
  font-size: 15px;
  outline: none;
  width: 110px;
  color: #49454f;
  padding: 5px 0;
}
.search-bar img {
  width: 22px;
  height: 22px;
}
@media (max-width: 900px) {
  .header-bar {
    flex-direction: column;
    align-items: stretch;
    gap: 18px;
    padding: 18px 8px 12px 8px;
  }
  .header-content-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .header-content-right {
    margin-top: 10px;
    justify-content: flex-end;
  }
  .search-bar input {
    width: 90px;
  }
  .brand-title {
    font-size: 22px;
  }
  .logo {
    width: 32px;
    height: 32px;
  }
  .agency-input, .account-input {
    width: 65px;
    font-size: 13px;
    padding: 7px 8px;
  }
  .ok-btn {
    width: 40px;
    height: 28px;
    font-size: 14px;
  }
}
