<div class="manager-list-container">
  <div class="header">
    <h2>Gerentes</h2>
    <a class="new-manager-button" routerLink="/admin/gerente/novo">
      <i class="fas fa-plus"></i> Novo Gerente
    </a>
  </div>

  <table class="manager-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Adriano</td>
        <td>123.456.789-00</td>
        <td>adriano.gerente&#64;bantads.com</td>
        <td>(11) 98765-4321</td>
        <td class="actions">
          <a class="edit-button" routerLink="/admin/gerente/1">
            <i class="fas fa-edit"></i> Editar
          </a>
          <button class="delete-button">
            <i class="fas fa-trash-alt"></i> Remover
          </button>
        </td>
      </tr>
      <tr>
        <td>Maria</td>
        <td>987.654.321-11</td>
        <td>maria.gerente&#64;bantads.com</td>
        <td>(11) 12345-6789</td>
        <td class="actions">
          <a class="edit-button" routerLink="/admin/gerente/2">
            <i class="fas fa-edit"></i> Editar
          </a>
          <button class="delete-button">
            <i class="fas fa-trash-alt"></i> Remover
          </button>
        </td>
      </tr>
      </tbody>
  </table>
</div>
